.mainMenu {
	color: blue;
	height: 400px;
}

.formationWindow {
	background-color: red;
}

.centerNotesWindow {
	background-color: black;
}

.dancerWindow {
	background-color: purple;
}

.rosterWindow {
	background-color: green;
}

.songWindow {
	background-color: yellow;
}

.ediv {
	background-color: yellow;
}