body {
    font: normal 14px "Trebuchet MS", Helvetica, sans-serif
}

#mainMenu {
	background-color: #561420;
	color: white;
	height: 30px;
	width: 100%;
}

#formationWindow {
	background-color: #616A7F;
	border-style: solid;

}

#centerNotesWindow {
	background-color: black;
	color: white;
	width: 350px;
}

#notes_text {
	width:97.8%;
	height:78px;
	background-color:white;
	color:black;
	border:1px solid black;
	padding:1%;
	font:22px;
}

#dancerWindow {
	width: 350px;
}

#rosterWindow {
	background-color: #616A7F;
}

#musicWindow {
	background-color: #455372;
	border: 1px solid black;
}

.dancerObject { 
    position: absolute; 
}

#dancer1 {
	background-color: white;
	border: 2px solid dimgray;
	padding: 15px;
	border-radius: 25px;
	height: 13%;
}

#editInfoButton {
	/*margin: auto;*/
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.formation {
	/*background-color: white;*/
	border-style: dotted;
	/*border-color: #FF1A00;*/
	width: 115px;
	height: 115px;
}

.selected{
	background-color: #E0E9E9;
	border-color: #FF1A00;
}

.forcanvas{
	background-color: white;
	border-style: solid;
	width: 109px;
	height: 109px;
}

/* THE BELOW IS TO TAKE UP THE WHOLE SCREEN*/
html, body{
    margin:0;
    padding:0;
    /*min-width: 1140px;*/ /* this is the important part*/
}
#grid-container{
    background:#f8f8f8 url(../images/grid-container-bg.gif) repeat-x top left;
}
#grid{
    width:1140px;
    margin:0px auto;
}

/*END TAKE UP WHOLE SCREEN*/

/* For the pop-up*/
/*div.fadeMe {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}*/

/* Menu CSS adapted from CSSTerm.com Simple Horizontal DropDown CSS menu */

.drop_menu {
	background:#821122;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu li { float:left; }

.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
	font:14px "Trebuchet MS", Helvetica, sans-serif;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
	z-index: 1000000;
}

.drop_menu li:hover { position:relative; background:#2D3956; }

.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#455372;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#455372;
}

.drop_menu li:hover ul li a:hover { background:#2D3956; }




/*For pop-up form*/

@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#333333;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
#form {
/*max-width:300px;
min-width:250px;*/
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
/*p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}*/
/*#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}*/
/*textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}*/
/*#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}*/
/*button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}*/
