#mainMenu {
	background-color: blue;
	color: white;
	height: 50px;
	width: 100%;
}

#formationWindow {
	background-color: white;
	border-color: black;
	border-style: solid;

}

#centerNotesWindow {
	background-color: black;
	color: white;
	width: 350px;
}

#dancerWindow {
	width: 350px;
}

#rosterWindow {
	background-color: green;
}

#musicWindow {
	background-color: yellow;
}

.dancerObject { 
    position: absolute; 
}

.formation {
	/*background-color: white;*/
	border-style: dotted;
	width: 95%;
	height: 120px;
}

.selected{
	background-color: yellow;
}

.forcanvas{
	border-style: solid;
	width: 95%;
	height: 96%;

}